.image {
    width: 35px;
    height: 40px;
}

.job-card {
    position: relative;
    max-width: 402px;
    width: 100%;
    padding: 8px 20px;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;

    .apply-btn {
        background-color: rgb(85, 239, 196);
        color: rgb(0, 0, 0);
        font-weight: 500;
        padding: 8px 18px;
        border-radius: 10px;
    }

    h3 {
        padding: 0px;
        margin: 0px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 3px;
        color: #8b8b8b;
    }

    h2 {
        padding: 0px;
        margin: 0px;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
    }

    .experience {
        font-size: 11px;
        font-weight: 500;
        margin-top: 5px;
    }

    .salary {
        font-weight: 400;
        font-size: 14px;
        font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2 !important;
        color: rgb(77, 89, 106);
    }

    .about-company {
        margin: 0px;
        font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2 !important;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.87);
    }

    .about-us {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.87);
    }

    .view-job {
        position: absolute;
        background: linear-gradient(to top,rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0));
        width: 90%;
        bottom:130px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: blue;
        font-weight: 500;
    }
}

.job-card:hover {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}