.custom-form-field {

    .MuiOutlinedInput-input {
        font-size: 14px;
        line-height: 20px;
        font-family: "Poppins", sans-serif;
    }

    .MuiChip-root .MuiChip-deleteIcon {
        margin: 0;
        font-size: 14px;
        color: grey;
    }

    .MuiChip-root .MuiChip-deleteIcon:hover {
        margin: 0;
        font-size: 14px;
        color: rgb(213, 81, 81);
    }

    .MuiChip-label {
        padding: 0 4px;
    }

    .MuiAutocomplete-tag {
        top: unset !important;
    }
}

.field-label {
    font-size: 14px !important;
    font-family: "Poppins", sans-serif !important;
    background-color: #FFF;
}